<header class="SiteHeader">
	<div class="SiteHeader-contact" class="c-grey">
		<span class="ttu f-bold">Une question ?</span>&nbsp;&nbsp; Contactez-nous au
		<span class="f-bold">04 37 24 70 70</span>&nbsp;&nbsp;
		<small class="c-grey f-italic">Prix d’un appel local</small>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Suivez-nous sur les réseaux sociaux &nbsp;
		<a href="https://twitter.com/MagnacartaCGPI" target="_blank" class="c-grey">
			<span class="hidden">Nous suivre sur Twitter</span>
			<em class="fab fa-twitter"></em>
		</a>
		&nbsp;
		<a href="https://www.linkedin.com/company/magnacarta-patrimoine" target="_blank" class="icon-linkedin c-grey">
			<span class="hidden">Nous suivre sur Linkedin</span>
			<i class="fab fa-linkedin"></i>
		</a>
	</div>
	<div class="HomeHeader">
		<a href="/" class="SiteHeader-logo">
			<img src="/images/logo-magnacarta.svg" alt="Logo Magnacarta, gestion en patrimoine">
		</a>
		<article class="promo-card">
			<div class="promo-image">
				<img src="{{ (promo.imageName ? vich_uploader_asset(promo) : asset('build/images/placeholder.jpg')) | imagine_filter('square_thumbnail_medium') }}" alt="{{ promo.name }}"/><a href=" {{ path('produit_show', {slug: promo.slug}) }} "></a>
			</div>
			<div class="produit-info">
				<h1>
					<a href="{{ path('produit_show', {slug: promo.slug}) }}">{{ promo.name }}</a>
				</h1>
				<p class="produit-description">
					<ul class="produit-list">
						<li>
							<small>Gérér par :
								{{ promo.socGest|u.truncate(25, ' ...', false)|raw }}</small>
						</li>
						<li>
							<small>Catégorie :
								{{ promo.categorie|u.truncate(25, ' ...', false)|raw }}</small>
						</li>
						<li>
							<small>Capital :
								{{ promo.capital|u.truncate(25, ' ...', false)|raw }}</small>
						</li>
						<li>
							<small>Thématique :
								{{ promo.thematique|u.truncate(25, ' ...', false)|raw }}</small>
						</li>
						<li>
							<small>Date de création :
								{{ promo.createdAt|date("d/m/Y") }}</small>
						</li>
						<li>
							<small>Capitalisation :
								{{ promo.Capitalisation }}
								Mds €</small>
						</li>
					</ul>
				</p>
			</div>
		</article>
	</div>
</header>
