{% set currency = ['sharePrice','withdrawalValue','worksAdvance'] %}
{% set percent = ['tof','top'] %}
{% set graph = ['repartGeos','repartSectors'] %}
{% set color = ['#80e080', '#4fc3f7', '#71f1bb', '#9575cd', '#f06292', '#757696', '#f072bb', '#dd5813', '#2adcd7', '#2c370c', '#ccd61e' ] %}
<tr>
	<th>{{value|trans}}
		:</th>
	{% if value == 'performances' %}
		{% for item in compare %}
			{% set perfs = attribute(item.produit, value).getValues() %}
			<td>
				{% for perf in perfs %}
					<strong>{{ perf.year|raw }}
						:</strong>
					{{ perf.rate|raw }}%</br>
			{% endfor %}
		</td>
	{% endfor %}
{% elseif value == 'repartSectors' %}
	{% for item in compare %}
		{% set objs = attribute(item.produit, value).getValues() %}
		<td>
			{% set dataCharts = [] %}
			{% for obj in objs %}
				{% set dataCharts = dataCharts|merge([{ 'name': obj.sectorName, 'fill': obj.sectorValue, 'color': color[loop.index] }]) %}
			{% endfor %}
			<div class="d-flex flex-column">
				<div id="doughnut" data-array="{{ dataCharts|json_encode|e('html_attr') }}"></div>
			</div>
		</td>
	{% endfor %}
{% elseif value == 'repartGeos' %}
	{% for item in compare %}
		{% set objs = attribute(item.produit, value).getValues() %}
		<td>
			{% set dataCharts = [] %}
			{% for obj in objs %}
				{% set dataCharts = dataCharts|merge([{ 'name': obj.geoName, 'fill': obj.geoValue, 'color': color[loop.index] }]) %}
			{% endfor %}
			<div class="d-flex flex-column">
				<div id="doughnut" data-array="{{ dataCharts|json_encode|e('html_attr') }}"></div>
			</div>
		</td>
	{% endfor %}
{% elseif value == 'lifeInsuranceAvaible' %}
	{% for item in compare %}
		{% set lifass = attribute(item.produit, value) %}
		<td>
			{% if lifass %}
				<strong>
					OUI</strong>
			{% else %}
				<strong>
					NON</strong>
			{% endif %}
		</td>
	{% endfor %}
{% else %}
	{% for item in compare %}
		{% set produit = item.produit %}
		{% for column in attribute(produit, value)|split('<hr />') %}
			{% if value == 'capitalisation' %}
				<td>{{ column|raw }}
					M€</td>
			{% elseif value in currency %}
				<td>{{ column|number_format(2, '.', ',')}}
					€</td>
			{% elseif value in percent %}
				<td>{{ column|raw }}
					%</td>
			{% else %}
				<td>{{ column|raw }}</td>
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endif %}</tr>
