<tr>
	<th>{{value|trans}}
		:</th>
	{% if value == 'performances' %}
		{% for item in compare %}
			{% set perfs = attribute(item.produit, value).getValues() %}
			<td>
				{% for perf in perfs %}
					<strong>{{ perf.year|raw }}
						:</strong>
					{{ perf.rate|raw }}
					%</br>
			{% endfor %}
		</td>
	{% endfor %}
{% else %}
	{% for item in compare %}
		{% set produit = item.produit %}
		{% for column in attribute(produit, value)|split('<hr />') %}
			{% if value == 'capitalisation' %}
				<td>{{ column|raw }}
					M€</td>
			{% else %}
				<td>{{ column|raw }}</td>
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endif %}</tr>
