{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

<div class="example-wrapper">
{% if produits|length > 0 %}
	<h1 class="text-center">Produits</h1>
	<div class="row">

		{{ form_start(form) }}
		<div class="input-group mb-3">
			{{ form_widget(form.string, {'attr': {'class': 'xxx_class'}}) }}
			<input class="btn btn-secondary" type="submit" value="Rechercher" formnovalidate>
		</div>
		{{ form_end(form) }}

	</div>

	{% for row in produits|batch(3) %}
		<div class="row mb-5">
			{% for produit in row %}
				<div class="col-md-4">
					<article class="produit-card">
						<div class="produit-image">
							<a href=" {{ path('produit_show', {slug: produit.slug}) }} "><img src="{{ (produit.imageName ? vich_uploader_asset(produit) : asset('build/images/placeholder.jpg')) | imagine_filter('square_thumbnail_medium') }}" alt="{{ produit.name }}"/></a>
						</div>
						<div class="produit-info">
							<h1>
								<a href="{{ path('produit_show', {slug: produit.slug}) }}">{{ produit.name }}</a>
							</h1>
							<p class="produit-description">
							<ul>
								<li><small>Gérér par :{{ produit.SocGest|u.truncate(25, ' ...', false)|raw }}</small></li>
								<li><small>Catégorie :{{ produit.categorie|u.truncate(25, ' ...', false)|raw }}</small></li>
								<li><small>Capital :{{ produit.capital|u.truncate(25, ' ...', false)|raw }}</small></li>
								<li><small>thematique :<br>{{ produit.thematique|u.truncate(25, ' ...', false)|raw }}</small></li>
								<li><small>Date de création :{{ produit.createdAt|date("d/m/Y") }}</small></li>
								<li><small>Capitalisation : {{ produit.Capitalisation }} Mds €</small></li>
							</ul>
							</p>
							<p class="btn btn-secondary w-100">Ajouter au comparateur</p>
						</div>
					</article>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% else %}
	<p class="h1 mt-5 text-align:center">Pas encore de produit</p>
	<p class="h4 mt-5 text-center">
		<a href={{ path ('app_produits_create') }}>Créez le 1er.</a>
	</p>
{% endif %}

</div>
{% endblock %}
