{% extends 'base.html.twig' %}

{% block title %}Le comparateur
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="http://localhost:8080/wip.scss">
{% endblock stylesheets %}

{% block javascripts %}
	{{ parent() }}
	<script src="http://localhost:8080/wip.js"></script>
{% endblock javascripts %}

{% block content %}
	<div class="main-wrapper">
		<h1>{{produit.name}}</h1>
		<div class="compare-result w-50">

			<table class="table">
				<tr class="bg-secondary bg-gradient text-white">
					<th>SCIP</th>
					<td></td>
				</tr>
				{% for column in produit.imageName|split('<hr />') %}
					<td></td>
					<td><img src="{{ (column ? vich_uploader_asset(produit) : asset('build/images/placeholder.jpg')) | imagine_filter('rectangle_thumbnail_medium') }}" class="border border-white border-2 ml-2"></td>
				{% endfor %}
				{% set my_keys = [ "SocGest", "categorie", "capital", "thematique", "capitalisation"] %}
				{% for cle in my_keys %}
					<tr>
						<th>{{cle}}</th>
						{% for column in attribute(produit, cle)|split('<hr />') %}
							{% if cle == 'capitalisation' %}
								<td>
									<div class="ms-5 w-100">{{ column|raw }}
										M€</div>
								</td>
							{% else %}
								<td>
									<div class="ms-5 w-100">{{ column|raw }}</div>
								</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</table>

			{# <p class="d-flex justify-content-around">#}
		{# <a href={{ path ('produits') }} class="btn btn-secondary w-50 my-2">Retour aux produits</a> #}
			{# </p>  #}

		</div>
	</div>
{% endblock content %}
