<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta description="Décorations artisanales - Création de suspension en bois flottés et feuilles en macramé">
			<title>
			{% block title %}Homepage SCIP
			{% endblock %}
			</title>
			{% block stylesheets %}
				{{ encore_entry_link_tags('app') }}
				<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
			{% endblock stylesheets %}
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock javascripts %}
		{% endblock head %}
	</head>
	{% block body %}
		<body>
			<div class="bg">
				{{ include('./traits/_hpheader.html.twig') }}
				<main role="main" class="container">
					{% block content %}
						<div class="main-wrapper">
							<h1>Comparateur SCPI</h1>
							<h4>Page de garde du comparateur</h4>
							<p>
								<ul>
									<li><a href="{{path('produits')}}">Voir les produits</a></li>
									<li><a href="http://www.magnacarta.fr/">Site principal</a></li>
									<li><a href="http://intranet.magnacarta.fr/" class="icon-lock"><span class="hidden">intranet</span></a></li>
								</ul>
							</p>
						</div>
					{% endblock content %}
				</main>
				{# <div class="d-flex justify-content-center"></div> #}
				{# {{ render(controller('App\\Controller\\NavController::navbar')) }} #}
				{{ include('traits/_footer.html.twig') }}
			</div>
		</body>
	{% endblock body %}
</html>
