<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta description="Décorations artisanales - Création de suspension en bois flottés et feuilles en macramé">
			<title>
				{% block title %}{% endblock %}
			</title>
			{% block stylesheets %}
				{{ encore_entry_link_tags('app') }}
				<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
			{% endblock stylesheets %}
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock javascripts %}
		{% endblock head %}
	</head>
	{% block body %}
		<body>
			<div class="bg">
				{{ include('traits/_header.html.twig') }}
				<main role="main" class="container">
					{% block content %}{% endblock content %}
				</main>
				{# <div class="d-flex justify-content-center"></div> #}
				{# {{ render(controller('App\\Controller\\NavController::navbar')) }} #}
				{{ include('traits/_footer.html.twig') }}
			</div>
		</body>
	{% endblock body %}
</html>
