{% extends 'base.html.twig' %}

{% block title %}Le comparateur{% endblock %}

{% block body %}
<h1>Le Comparateur</h1>

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Produit1</th>
			<th scope="col">Produit2</th>
			<th scope="col">Produit3</th>
		</tr>
	</thead>
	<tbody>
		{# {{ dump (cart) }} #}
		{% for item in cart %}
			<tr>
				<th scope="row">{{loop.index}}</th>
				<td><img src="{{ (item.produit.imageName ? vich_uploader_asset(item.produit) : asset('build/images/placeholder.jpg')) | imagine_filter('square_thumbnail_vtiny') }}"></td>
				<td>{{item.produit.name}}</td>
				<td class="text-center">{{item.quantity}}</td>
				<td>{{item.produit.SocGest}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}
