<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta description="Décorations artisanales - Création de suspension en bois flottés et feuilles en macramé">
			<title>
				{% block title %}Homepage SCIP
				{% endblock %}
			</title>
			{% block stylesheets %}
				{{ encore_entry_link_tags('app') }}
				<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
			{% endblock stylesheets %}
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock javascripts %}
		{% endblock head %}
	</head>
	{% block body %}
		<body>
			<div class="bg">
				{{ include('./traits/_hpheader.html.twig') }}
				<main role="main" class="container">
					{% block content %}
						<div class="main-wrapper">
							<h1>Comparateur SCPI</h1>
							<div class="hp-left hp-card">
								<div class="hp-text">
									<h4>Page de garde du comparateur</h4>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolor nam nostrum? Sequi rem voluptatibus nemo soluta nulla adipisci. Libero dignissimos laborum culpa magnam commodi est molestiae praesentium eius sint eum inventore sit reprehenderit nam, voluptates quasi blanditiis illum aut earum tempore non fugit voluptas modi? Numquam enim odio repellat.
								</div>
								<div class="hp-link justify-content-end">
									<a href="{{path('produits')}}" class="btn hp-button">Comparer les SCPI</a>
								</div>
							</div>
							<div class="hp-right hp-card">
								<div class="hp-text">
									<h4>Voir Notre site officiel</h4>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptas repellat assumenda tempora possimus dicta ratione ex quasi fugit nam rerum harum cum animi, reiciendis, placeat dignissimos deleniti enim rem modi voluptates illum accusantium voluptatum vitae! Animi dolores commodi ipsam ea modi blanditiis possimus! Doloribus veniam natus rerum error praesentium.
								</div>
								<div class="hp-link justify-content-start">
									<a href="http://www.magnacarta.fr/" class="btn hp-button">Site principal</a>
								</div>
							</div>
							<div class="hp-left hp-card">
								<div class="hp-text">
									<h4>Connectez vous a notre intranet</h4>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis repudiandae modi ducimus totam mollitia ipsum dicta ratione ea minus, perferendis quia ullam, dolorem neque doloribus molestiae, architecto optio rerum tempora. Neque officiis repellendus quae eius assumenda, aliquam commodi earum mollitia ad ipsa fuga soluta quo placeat deleniti. Ipsam, tempora enim.
								</div>
								<div class="hp-link justify-content-end">
									<a href="http://intranet.magnacarta.fr/" class="btn hp-button">intranet</a>
								</div>
							</div>
						{% endblock content %}
					</main>
					{# <div class="d-flex justify-content-center"></div> #}
					{# {{ render(controller('App\\Controller\\NavController::navbar')) }} #}
					{{ include('traits/_footer.html.twig') }}
				</div>
			</body>
		{% endblock body %}
	</body>
</html>
